.card {
    /* border: 1px solid black; */
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: violet;
    transition: .3s;
}

.card:hover {
    box-shadow: 0 0 5px 5px rgba(137, 43, 226, 0.418);
}